# Ignore Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Ignore virtual environments
venv/
.env
.venv/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore cache JSON files
*.json
